[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
pyyaml = "*"
scikit-image = "*"

[dev-packages]
better-exceptions = "*"
pylint = "*"

[requires]
python_version = "3.6"
